<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
        <title>FinTrack</title>
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="../css/global.css" />
        <script src="../js/bootstrap/bootstrap.js"></script>
    </head>
    <body class="min-vh-100 bg-success d-flex flex-column p-4 text-center text-light">
        <img class="mb-3" src="../images/FinTrack_logo_light.svg" alt="logo" height="100">
        <h1 class="fw-bold">FinTrack</h1>
        <p class="mb-0">Version 1.0.0</p>
        <p>MIT License</p>
    </body>
</html>
