<%_ for (let i = 0; i < players.length; i++) { _%>
<section>
    <img src="<%= players[i]['image_url'] %>" alt="<%= players[i]['name'] %>" />
    <h3><%= players[i]['name'] %></h3>
    <p><%= players[i]['sport']%></p>
</section>
<%_ } _%>
