nav.sidebar {
    width: 220px;
}

div.dashboard {
    min-width: calc(100% - 220px);
}

img#logo {
    height: 32px;
}

@media only screen and (max-width: 767px) {
    div.logo {
        display: none;
        height: 0;
    }

    nav.sidebar {
        width: 50px;
    }

    div.dashboard {
        min-width: calc(100% - 50px);
    }
    
    span.nav-desc {
        display: none;
    }

    ul.navbar-nav  {
       align-items: center;
    }
}
