nav.sidebar {
    width: 220px;
    position: fixed;
    height: 100vh;
}

div.main {
    width: calc(100% - 220px);
    margin-left: 220px;
}

div.chart {
    height: 100px;
}

img#logo {
    height: 32px;
}

table {
    overflow: scroll;
}

@media only screen and (max-width: 767px) {
    div.logo {
        display: none;
        height: 0;
    }

    nav.sidebar {
        width: 50px;
    }

    div.main {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    span.nav-desc {
        display: none;
    }

    ul.navbar-nav {
        align-items: center;
    }
}
